
.head{
	background-color: powderblue;
}

.titleText1
{
	background-color: burlywood;
}

.titleText2
{
	background-color: rgb(58, 47, 163);
}

.containerTitlebak
{
	background-color: #9f5a6f;
}

.containerTitle
{
	background-color: #61764b;
}